<div>
  <h1>
    Surveys
  </h1>
  <table class="table table-striped table-bordered">
    <tr>
      <th>
        Survey Title
      </th>
      <th>
        # of Responses
      </th>
      <th>
        Redphone URL
      </th>
    </tr>

    <% @surveys.each do |survey| %>
      <tr>
        <td>
          <%= link_to survey.title, admin_survey_path(survey.id) %>
        </td>
        <td>
          <%= survey.responses.count %>
        </td>
        <td>
          <%= link_to survey.url, survey.url %>
        </td>
      </tr>
    <% end %>

  </table>
</div>
